div.containerInteractions {
  display: block;
  cursor: pointer;

  div.cardInteractions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border: 2px solid green;
    align-items: center;

    div.boxInteractions {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }
}
