* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------my styles */
* {
  box-sizing: border-box;
}

.container {
  border-width: 20px;
  border-color: black;
  background-color: red;
}
.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-tile {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  background-color: #777;
}
.nav li.active {
  background-color: #555;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------both main container of apocalipsex component */
div.ticket-categories {
  margin-bottom: 10px;
}
div.ticket-categories,
div.ticket-list {
  width: 100%;
  display: flex;
  justify-content: space-between;

  div.category-container,
  div.ticketCategoryContainer {
    width: 23.75%;
    margin: 0;
    padding: 0;
  }
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  .sidebar {
    width: 20%;
  }
  .app-container {
    width: 80%;
  }
}
